<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Login</h3>
        </div>
        <div class="card-body">
          <%= form_with(url: login_path, local: true) do |form| %>
            <div class="form-group">
              <%= form.label :email %>
              <%= form.email_field :email, class: 'form-control', name: 'session[email]' %>
            </div>
            <div class="form-group mt-3">
              <%= form.label :password %>
              <%= form.password_field :password, class: 'form-control', name: 'session[password]' %>
            </div>
            <div class="form-group mt-3">
              <%= form.submit "Login", class: 'btn btn-primary w-100' %>
            </div>
          <% end %>
        </div>
        <div class="card-footer text-center">
          <%= link_to "Sign up", register_path %> if you don't have an account.
        </div>
      </div>
    </div>
  </div>
</div>

