<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Sign Up</h3>
        </div>
        <div class="card-body">
          <%= form_with(model: @user, url: register_path, local: true) do |form| %>
            <div class="form-group">
              <%= form.label :email %>
              <%= form.email_field :email, class: 'form-control' %>
            </div>
            <div class="form-group mt-3">
              <%= form.label :password %>
              <%= form.password_field :password, class: 'form-control' %>
            </div>
            <div class="form-group mt-3">
              <%= form.label :password_confirmation %>
              <%= form.password_field :password_confirmation, class: 'form-control' %>
            </div>
            <div class="form-check mt-3">
              <%= form.check_box :seller %>
              <%= form.label :seller, "Sign up as a seller" %>
            </div>
            <div class="form-group mt-3">
              <%= form.submit "Sign Up", class: 'btn btn-primary w-100' %>
            </div>
          <% end %>
        </div>
        <div class="card-footer text-center">
          <%= link_to "Login", login_path %> if you already have an account.
        </div>
      </div>
    </div>
  </div>
</div>
