<h1>Order Details</h1>

<p>
  <strong>Order Number:</strong>
  <%= @order.order_number %>
</p>

<p>
  <strong>Ordered At:</strong>
  <%= @order.created_at.strftime("%B %d, %Y") %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status.capitalize %>
</p>

<p>
  <strong>Product:</strong>
  <%= link_to @order.product.name, product_path(@order.product) %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Total Price:</strong>
  $<%= @order.total_price %>
</p>

<% if @order.status != 'cancelled' %>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelOrderModal">
    Cancel Order
  </button>
<% end %>

<!-- Modal -->
<div class="modal fade" id="cancelOrderModal" tabindex="-1" aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cancelOrderModalLabel">Cancel Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to cancel this order?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= link_to 'Yes, Cancel Order', cancel_order_path(@order), method: :patch, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back to Orders', buyer_dashboard_index_path, class: 'btn btn-secondary' %>
