<h1>Mon espace vendeur</h1>

<% if current_user.seller.products.any? %>
  <% current_user.seller.products.each do |product| %>
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text"><strong>Description:</strong> <%= product.description %></p>
        <p class="card-text"><strong>Price:</strong> $<%= product.price %></p>
        <p class="card-text"><strong>Stock:</strong> <%= product.stock %></p>
        <h6>Orders:</h6>
        <table class="table">
          <thead>
          <tr>
            <th>Order Number</th>
            <th>Ordered At</th>
            <th>Buyer</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <% product.orders.each do |order| %>
            <tr>
              <td><%= order.order_number %></td>
              <td><%= order.created_at.strftime("%B %d, %Y") %></td>
              <td><%= order.buyer.user.email %></td>
              <td><%= order.quantity %></td>
              <td>$<%= order.total_price %></td>
              <td><%= order.status.capitalize %></td>
              <td>
                <% if order.pending? %>
                  <%= link_to 'Confirm', update_status_order_path(order, status: 'confirmed'), method: :patch, class: 'btn btn-sm btn-primary' %>
                <% elsif order.confirmed? %>
                  <%= link_to 'Ship', update_status_order_path(order, status: 'shipped'), method: :patch, class: 'btn btn-sm btn-warning' %>
                <% elsif order.shipped? %>
                  <%= link_to 'Deliver', update_status_order_path(order, status: 'delivered'), method: :patch, class: 'btn btn-sm btn-success' %>
                <% else %>
                  <span class="text-success">Finalized</span>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% else %>
  <p>Vous n'avez aucun produit.</p>
<% end %>
