<h1>My Cart</h1>

<% if @cart.cart_items.any? %>
  <table class="table">
    <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @cart.cart_items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td>
          <%= form_with url: update_item_cart_path(item), method: :patch, local: true do |f| %>
            <%= f.number_field :quantity, value: item.quantity, min: 1, max: item.product.stock, class: 'form-control d-inline-block w-25 me-2' %>
            <%= f.submit 'Update', class: 'btn btn-primary btn-sm' %>
          <% end %>
        </td>
        <td>$<%= item.product.price %></td>
        <td>$<%= item.quantity * item.product.price %></td>
        <td>
          <%= link_to 'Remove', destroy_item_cart_path(item), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p><strong>Total:</strong> $<%= @cart.cart_items.sum { |item| item.quantity * item.product.price } %></p>
<% else %>
  <p>Your cart is empty.</p>
<% end %>

<%= link_to 'Continue Shopping', products_path, class: 'btn btn-primary' %>
