<h1>Reactivate Account</h1>

<%= form_with(model: @user, url: reactivate_user_path(@user.id), local: true) do |form| %>
  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <div class="form-group mt-3">
    <%= form.submit "Reactivate Account", class: 'btn btn-primary' %>
    <%= link_to 'Back', login_path, class: 'btn btn-secondary ms-2' %>
  </div>
<% end %>
