<h1>Edit Product</h1>

<%= form_with(model: @product, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :stock %>
    <%= form.number_field :stock, class: 'form-control' %>
  </div>
  <div class="form-group mt-3">
    <%= form.submit "Update Product", class: 'btn btn-primary' %>
    <%= link_to 'Back', products_path, class: 'btn btn-secondary ms-2' %>
  </div>
<% end %>
