<h1 class="my-4">Products</h1>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title"><%= link_to product.name, product %></h5>
          <p class="card-text"><strong>Description:</strong> <%= product.description.truncate(100) %></p>
          <p class="card-text"><strong>Price:</strong> $<%= product.price %></p>
          <p class="card-text"><strong>Stock:</strong> <%= product.stock %></p>

          <% if current_user && current_user.buyer %>
            <div class="d-flex flex-column">
              <%= form_with url: add_to_cart_product_path(product), method: :post, local: true, class: 'd-flex align-items-center mb-2' do |f| %>
                <%= f.number_field :quantity, value: 1, min: 1, max: product.stock, class: 'form-control me-2', style: 'width: 60px;', disabled: product.stock <= 0 %>
                <%= f.submit 'Add to Cart', class: 'btn btn-primary btn-sm flex-grow-1', disabled: product.stock <= 0 %>
              <% end %>
              <%= form_with url: buy_now_product_path(product), method: :post, local: true, class: 'd-flex align-items-center' do |f| %>
                <%= f.number_field :quantity, value: 1, min: 1, max: product.stock, class: 'form-control me-2', style: 'width: 60px;', disabled: product.stock <= 0 %>
                <%= f.submit 'Buy Now', class: 'btn btn-success btn-sm flex-grow-1', disabled: product.stock <= 0 %>
              <% end %>
            </div>
          <% end %>

          <% if current_user&.seller? && product.seller == current_user.seller %>
            <div class="d-flex justify-content-between mt-2">
              <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-warning btn-sm flex-grow-1 me-2' %>
              <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm flex-grow-1' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Product', new_product_path, class: 'btn btn-primary my-4' if current_user&.seller? %>
