<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body text-center">
          <h1 class="card-title"><%= @product.name %></h1>

          <p class="card-text"><strong>Description:</strong></p>
          <p class="card-text"><%= @product.description %></p>

          <p class="card-text"><strong>Price:</strong> $<%= @product.price %></p>
          <p class="card-text"><strong>Stock:</strong> <%= @product.stock %></p>

          <div class="my-4">
            <%= link_to 'Back', products_path, class: 'btn btn-secondary me-2' %>

            <% if current_user && current_user.buyer %>
              <%= form_with url: add_to_cart_product_path(@product), method: :post, local: true, class: 'd-inline' do |f| %>
                <%= f.number_field :quantity, value: 1, min: 1, max: @product.stock, class: 'form-control d-inline-block w-auto me-2', style: 'width: 100px;', disabled: @product.stock <= 0 %>
                <%= f.submit 'Add to Cart', class: 'btn btn-primary', disabled: @product.stock <= 0 %>
              <% end %>
              <%= form_with url: buy_now_product_path(@product), method: :post, local: true, class: 'd-inline' do |f| %>
                <%= f.number_field :quantity, value: 1, min: 1, max: @product.stock, class: 'form-control d-inline-block w-auto me-2', style: 'width: 100px;', disabled: @product.stock <= 0 %>
                <%= f.submit 'Buy Now', class: 'btn btn-success', disabled: @product.stock <= 0 %>
              <% end %>
            <% end %>

            <% if current_user&.seller? && @product.seller == current_user.seller %>
              <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-warning me-2' %>
              <%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
