<!DOCTYPE html>
<html>
<head>
  <title>Yabe</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Yabe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <% if current_user %>
          <li class="nav-item">
            <span class="nav-link">Signed in as <%= current_user.email %></span>
          </li>
          <% if current_user.buyer %>
            <li class="nav-item">
              <%= link_to 'Mon espace achat', buyer_dashboard_index_path, class: 'btn btn-info ms-2' %>
            </li>
          <% end %>
          <% if current_user.seller? %>
            <li class="nav-item">
              <%= link_to 'Mon espace vente', seller_dashboard_index_path, class: 'btn btn-warning ms-2' %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to 'Deactivate Account', deactivate_account_path(current_user.id), method: :delete, data: { confirm: 'Are you sure you want to deactivate your account?' }, class: 'btn btn-danger ms-2' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', logout_path, method: :delete, class: 'btn btn-secondary ms-2' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', login_path, class: 'btn btn-primary ms-2' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', register_path, class: 'btn btn-success ms-2' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger"><%= alert %></div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
